.container
{
    width:100%;
    height: 100%;
}
.header
{
    width:100%;
    height:400px;
}
.menu
{
    width:100%;
    height:100px;
    background-color: plum;
}
.side_left
{
    width:33%;
    height:450px;
    float:left;
    background-color: cyan;
}
.center
{
    width:34%;
    height:450px;
    float:left;
    background-color: darkcyan;
}
.side_right
{
    width:33%;
    height:450px;
    float:right;
    background-color: grey;
}